<div class="row">
    <div class="col-5 col-sm-3">
        <p>Subject</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.subject|default_if_none:"Not entered" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Area</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.area|default_if_none:"Not entered" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Category</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.category|default_if_none:"Not entered" }}</p>
    </div>
</div>


<div class="row">
    <div class="col-5 col-sm-3">
        <p>Comment</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.remarks|default_if_none:"Not entered" }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>Created by</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Created at</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Updated by</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_by.get_full_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-5 col-sm-3">
        <p>Updated at</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{ item.updated_at|date:"Y/m/d G:i:s" }}</p>
    </div>
</div>
